@mixin respond($breakpoint) {
  // 450px
  @if $breakpoint == sm2 {
    @media (max-width: 450px) {
      @content;
    }
  }
  // 576px
  @if $breakpoint == sm {
    @media (max-width: 576px) {
      @content;
    }
  }
  // 768px
  @if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  }
  // 920px
  @if $breakpoint == lg2 {
    @media (max-width: 920px) {
      @content;
    }
  }
  // 1030px
  @if $breakpoint == lg {
    @media (max-width: 1030px) {
      @content;
    }
  }
  // 1200px
  @if $breakpoint == xl {
    @media (max-width: 1200px) {
      @content;
    }
  }
  // 1400px
  @if $breakpoint == xxl {
    @media (max-width: 1400px) {
      @content;
    }
  }
}

@mixin work_summary_div_1_2 {
  div {
    display: flex;
    align-items: center;

    span.span_1 {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 8px;
    }

    span.span_2 {
      font-weight: 400;
      font-size: 16px;

      @include respond(sm2) {
        font-size: 13px;
      }
    }
  }
}