@import '../../sass/variables.scss';
@import '../../sass/mixings.scss';

.sidebar {
  width: $sidebar-width;
  will-change: width;
  position: fixed;
  top: $html-body-padding;
  bottom: $html-body-padding;
  left: $html-body-padding;
  z-index: $sidebar-zIndex;
  padding: 0;
  padding-bottom: 82px;

  @include respond(xxl) {
    display: none;
  }

  .div_1 {
    position: relative;
    padding: $card-padding;
  }

  .header {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 1.6rem;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $color-white;

      &:active,
      &:focus {
        text-decoration: none;
        color: $color-white;
      }
    }

    .name {
      font-weight: 400;
       font-size: 14px;
    }
  }

  .body {
    padding: 1rem 0;
    margin: 1rem 0;
    height: calc(100vh - ($html-body-padding * 2 + 82px + 1.2rem + 45.19px));
    overflow-x: hidden;
    overflow-y: auto;

    ul {
      a {
        text-decoration: none;
      }

      li.menu_item {
        list-style: none;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        span.title {
          font-weight: 400;
          font-size: 14px;
          color: $color-text-2;
          text-transform: capitalize;
          margin-left: 10px;
        }

        span.count {
          font-weight: 600;
          font-size: 12px;
          color: $color-white;
          text-transform: uppercase;
          margin-left: auto;
        }

        span.badge_count {
          background-color: gray;
          border-radius: 26px;
          font-weight: 600;
          font-size: 12px;
          color: $color-white;
          text-transform: uppercase;
          letter-spacing: 0.04em;
          margin-left: auto;
          padding: 3px 5px;
        }

        img.expand {
          margin-left: auto;
        }
      }

      li.active {
        span.title {
          color: $color-white;
        }
      }

      li.menu_heading {
        margin-top: 35px;
        margin-bottom: 25px;
        cursor: default;

        span.title {
          font-weight: 600;
          font-size: 14px;
          color: $color-text-3;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          margin-left: 0;
        }
      }

    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 82px;
    background: #282C38;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    padding: 0 $card-padding;

    div {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }

    span.user_name {
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 5px;
    }

    span.user_email {
      font-weight: 400;
      font-size: 12px;
      color: $color-text-3;
    }

    span.more {
      margin-left: auto;
      cursor: pointer;
    }

  }

}